vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Feb 2022 19:55:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_author:SR|DESKTOP-RCV9RFQ\\sv-fisch
vti_modifiedby:SR|DESKTOP-RCV9RFQ\\sv-fisch
vti_timecreated:TR|20 Feb 2022 20:36:31 -0000
vti_cacheddtm:TX|20 Feb 2022 20:36:31 -0000
vti_filesize:IR|5051
vti_cachedlinkinfo:VX|S|../images/next_icon.png S|../images/next_active.png S|../images/back_icon.png S|../images/back_active.png
vti_cachedsvcrellinks:VX|FSUS|images/next_icon.png FSUS|images/next_active.png FSUS|images/back_icon.png FSUS|images/back_active.png
