vti_encoding:SR|utf8-nl
vti_author:SR|MACPRO02\\HIT2
vti_modifiedby:SR|DESKTOP-RCV9RFQ\\sv-fisch
vti_timelastmodified:TR|20 Feb 2022 20:36:32 -0000
vti_timecreated:TR|24 Oct 2020 16:34:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_hit-karlsruhe.de\:80/hit-info/info-ws21/fmss:TR|20 Oct 2021 06:52:28 -0000
vti_cacheddtm:TX|20 Feb 2022 20:36:32 -0000
vti_filesize:IR|925
